<div class="headerToolbar">
  <mat-form-field appearance="standard">
    <mat-label>Filter order State</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter by order state" #input />
  </mat-form-field>
  
  <button mat-icon-button (click)="refresh()">
    <mat-icon class="material-icons md-autorenew"></mat-icon>
  </button>
</div>

<table mat-table  matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container [matColumnDef]="columnConfig.columnDef" *ngFor="let columnConfig of columns">
    <th mat-header-cell mat-sort-header *matHeaderCellDef > {{columnConfig.header}} </th>
    <td mat-cell *matCellDef="let element"> {{columnConfig.cell(element)}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell   mat-sort *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button
        (click)="(expandedElement = (expandedElement === element ? null : element)); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element" class="material-icons md-expand_more"></mat-icon>
        <mat-icon *ngIf="expandedElement === element" class="material-icons md-expand_less"></mat-icon>
      </button>

    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <table mat-table [dataSource]="element.packages" >
          <ng-container [matColumnDef]="columnConfig.columnDef" *ngFor="let columnConfig of detailColums">
            <th mat-header-cell *matHeaderCellDef > {{columnConfig.header}} </th>
            <td mat-cell *matCellDef="let element"> {{columnConfig.cell(element)}} </td>
          </ng-container>

          <!--ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let package"> {{package.id}} </td>
          </ng-container>
          <ng-container matColumnDef="heightCm">
            <th mat-header-cell *matHeaderCellDef> heightCm </th>
            <td mat-cell *matCellDef="let package"> {{package.heightCm}} </td>
          </ng-container>
          <ng-container matColumnDef="widthCm">
            <th mat-header-cell *matHeaderCellDef> widthCm </th>
            <td mat-cell *matCellDef="let package"> {{package.widthCmd}} </td>
          </ng-container>
          <ng-container matColumnDef="weightKg">
            <th mat-header-cell *matHeaderCellDef> weightKg </th>
            <td mat-cell *matCellDef="let package"> {{package.weightKg}} </td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> state </th>
            <td mat-cell *matCellDef="let package"> {{package.state}} </td>
          </ng-container>

          <ng-container matColumnDef="lat">
            <th mat-header-cell *matHeaderCellDef> lat </th>
            <td mat-cell *matCellDef="let package"> {{package.lat}} </td>
          </ng-container>
          <ng-container matColumnDef="lon">
            <th mat-header-cell *matHeaderCellDef> lon </th>
            <td mat-cell *matCellDef="let package"> {{package.lon}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> description </th>
            <td mat-cell *matCellDef="let package"> {{package.description}} </td>
          </ng-container-->


          <tr mat-header-row
            *matHeaderRowDef="detailColumnsToDisplay"></tr>
          <tr mat-row
            *matRowDef="let row; columns: detailColumnsToDisplay;">
          </tr>
        </table>
      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>